.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;

  position: relative;
  z-index: 10;
}

.main {
  position: relative;
  overflow-x: hidden;
}

#hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.searchContainer {
  height: 20vh;
  width: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxSearch {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 26px;
  max-width: 900px;
  outline: none;
  border: none;
  display: flex;
  flex-direction: column;
}

.input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  width: 660px;
  height: 65px;
  color: rgba(0, 0, 0, 0.65);
  margin-right: 5px;
  border: none;
  outline: none;
}

.input::placeholder {
  opacity: 0.9;
}

.boxSearch:focus-within {
  border: 1px solid #824df4;
}

.buttonSearch {
  background: #824df4;
  border-radius: 21px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #ffff;
  padding: 20px 25px;
}

.buttonSearch:hover {
  cursor: pointer;
  opacity: 0.9;
}

.img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.ImgNone {
  display: none;
}

.contentTitle h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.buttonTab {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: white;
  text-align: center;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

.header b {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: white;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #824df4;
  text-transform: capitalize;
  
}

@media (max-width: 992px) {
  .input {
    font-size: 16px;
    line-height: 20px;
    width: 200px;
    height: 50px;
  }

  .buttonSearch {
    font-size: 14px;
    line-height: 19px;
    padding: 15px 20px;
  }

  .boxSearch {
    padding: 5px 10px;
    max-width: 400px;
  }

  .searchContainer {
    width: 100%;
  }

  .contentTitle h1 {
    font-size: 25px;
    line-height: 30px;
  }
}
